# .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Publicações
VideoTrigger-Publicacao/
Publicacao/

# Arquivos temporários
*.tmp
*.log

# Sistema operacional
Thumbs.db
.DS_Store